*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
// spacing css 

@for $i from 1 through 20{
    .pt-#{$i * 5}{
        padding-top: $i * 5px;
    }
}

@for $i from 1 through 20{
    .pb-#{$i * 5}{
        padding-bottom: $i * 5px;
    }
}

@for $i from 1 through 20{
    .mt-#{$i * 5}{
        margin-top: $i * 5px;
    }
}


@for $i from 1 through 20{
    .mb-#{$i * 5}{
        margin-bottom: $i * 5px;
    }
}

// btn css
.primary-btn{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    background-color: $primary_color;
    padding: 10px 38px;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 10px;
    border: 2px solid $primary_color;
    color: $white_color;
    transition: .3s;
    &:hover{
        background-color: $deep_color;
        border: 2px solid $deep_color;
    }
}

.border-btn {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	display: inline-block;
	background-color: transparent;
	padding: 10px 38px;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid $white_color;
	color: $white_color;
    transition: .3s;
    &:hover{
            background: $white_color;
            color: $primary_color;
    }
}

// section title 


.section-title {
    text-align: center;
    h4{
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
    }
    h3 {
        font-size: 34px;
        text-transform: capitalize;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 70px;
            height: 3px;
            background-color: #ff7720;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
      }
      p{
        margin-top: 20px;
      }

  }

  .text-white{
    color: $white_color;
  }


  
