.blog-area{
    .blog {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-column-gap: 30px;
        .single-blog{
            .blog-meta {
                background: #fff;
                padding: 15px;
                display: flex;
                justify-content: space-evenly;
                margin: 0 15px;
                margin-top: -15px;
                position: relative;
                margin-bottom: 10px;
                border: 1px solid #f2f2f2;
                a {
                    color: #000;
                    i {
                        margin-right: 8px;
                      }
                  }
              }

            h4 {
                font-size: 28px;
                text-transform: capitalize;
                margin-bottom: 15px;
              }
             
              p {
                margin-bottom: 20px;
              }
              a {
                color: $dark_color;
                text-transform: capitalize;
                transition: .3s;
                &:hover{
                    color: $primary_color;
                }
              }
        }
    }
}

.subscribe-area{
    background-repeat: no-repeat;
    background-size: cover;
    .subscribe{
        width: 700px;
        margin: 0 auto;
        form{
            position: relative;
            input {
                width: 100%;
                border: none;
                border-radius: 50px;
                padding: 10px;
                outline: 0;
            }
            input[type="submit"] {
                background: $primary_color;
                width: auto;
                padding: 9px 40px;
                color: #fff;
                font-size: 16px;
                text-transform: capitalize;
                border-radius: 50px;
                position: absolute;
                right: 0;
                transition: .3s;
                &:hover{
                    background-color: $deep_color;
                }
            }
        }
    
}
}