.contact-area{
    .contact {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        .contact-address {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-gap: 30px;
            .single-contact{
                display: flex;
                align-items: center;
                i {
                    font-size: 30px;
                    background: $primary_color;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    color: $white_color;
                    margin-right: 20px;
                }
                 h4 {
                    text-transform: capitalize;
                    font-size: 24px;
                    span{
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        .contact-form{
            input ,textarea {
                width: 100%;
                outline: 0;
                padding: 8px 10px;
                margin-bottom: 10px;
            }
            input[type="submit"]{
                background-color: $primary_color;
                color: $white_color;
                text-transform: uppercase;
                font-size: 18px;
                cursor: pointer;
                border: none;
                transition: .3s;
                &:hover{
                    background-color: $deep_color;
                }
            }
        }
    }
}

.partner-area {
	background: #f2f2f2;
    .partner{
        display: grid;
        grid-template-columns: repeat(6,auto);
        grid-column-gap: 30px;
        img{
            max-width: 140px;
        }
    }
}

.footer-area{
    background: $dark_color;
    .social-link{
        text-align: center;
        a {
            color: #fff;
            margin-right: 15px;
        }
        p {
            color: #ffff;
            margin-top: 10px;
        }
    }
}