

.header-area {
    position: relative;
	background-size: cover;
	background-position: center;
	height: 100vh;
    overflow: hidden;
   .header-menu{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 111;
    transition: .3s;
    &.sticky{
        background:$dark_color ;
    }
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        position: relative;
        .logo{
            a{
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 1px;
                h2{
                    color: $white_color;
                }
            }
        }
        .main-menu{
            nav{
                ul{
                    display: flex;
                    li{
                        margin-left: 15px;
                        a{
                            text-transform: capitalize;
                            font-size: 18px;
                            color:$white_color;
                            transition: .3s;
                            &:hover{
                                color: $primary_color;
                            }
                        }
                        &.current>a{
                            color: $primary_color;
                        }
                    }
                }
            }
        }
      }
   }
      .hero-area{
        .main-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            h3 {
                color: $white_color;
                font-size: 20px;
                font-weight: 400;
                text-transform: capitalize;
            }
            h1{
                color: $white_color;
                font-size: 60px;
                text-transform: uppercase;
            }
            p{
                color: $white_color;
            }
            .baner-btn{
                display: flex;
                margin-top: 30px;
            }
        }
      }
    
}



