.project-area{
    .project{
            display: grid;
            grid-template-columns: repeat(3,auto);
            .single-project {
                background-size: cover;
                height: 350px;
                color: $white_color;
                background-position: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
                &:hover{
                     .project-content {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);
                        background-color:$dark_color;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        opacity: .7;
                    }
                }
                .project-content{
                       
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(0);
                        transition: .3s;
                    i{
                        font-size: 24px;
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        color: $white_color;
                      }
                      h4{
                        font-size: 22px;
                        text-transform: capitalize;
                        span{
                                display: block;
                                text-align: center;
                                font-size: 18px;
                                font-weight: 500;
                        }
                    }
                }
                
                }
                
            }
    }